.st-navBar {
    z-index: 1000;
    width: 100vw;
    transition: all 0.2s linear;
    position: relative;
    padding-top: 44px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    height: 60px;
    // display: flex;
    // align-items: center;
    background: #fff;
    padding-bottom: 6px;
    box-sizing: content-box;
    
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }
    &.transparent {
        background: transparent;
    }

    .st-navBar__wrap {
        position: relative;
        height: 100%;
        &.flex {
            display: flex;
            .st-navBar__content {
                flex: 1;
                line-height: 60px;
            }
            .st-navBar__left-con {
                position: relative;
            }
        }
    }

    .st-navBar__content {
        height: 100%;
        font-size: $titleFontSize;
        &.center {
            text-align: center;
        }
        &.left {}
    }
    .st-navBar__left-con {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 30px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .st-navBar__right-con {}
}